<div class="andines-footer">

  <ion-row class="ion-text-center">
    <ion-col size="12" >
      <h6> {{ year }} Andines. Todos los derechos reservados. </h6>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col size="3" routerLink="/privacy"><small>Privacidad</small></ion-col>
    <ion-col size="2" routerLink="/cookies"><small>Cookies</small></ion-col>
    <ion-col size="3" routerLink="/terms"><small>Terminos</small></ion-col>
    <ion-col size="4" routerLink="/cancelation"><small>Cancelaciones</small></ion-col>
  </ion-row>

</div>

  
